language: node_js

services:
  - docker

node_js:
  - node

before_script:
  - chmod +x wait-for-it.sh
  - npm run build

script:
  - docker-compose up --abort-on-container-exit --exit-code-from test

after_success:
  - npm run coveralls